body {
    background: url(./images/color-light-waves.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    
  }
  
  .logo{
    position: absolute;
  }
  
  .logo img{
    position: relative;
    width: 10%;
    top: 0;
    left: 0;
  }
  
  .slogan{
    color: #ffffff;
    font-family: 'gotham';
    font-size: 3.5rem;
    padding-top: 20%;
    padding-bottom: 5%;
    text-align: center
  }
  
  .form-control{
    border-radius: 10px;
  }
  
  p{
    color: #ffffff; 
    font-size: 1.3rem;
  
  }
  
  .searcher{
  text-align: center; 
  }
  
  .spot {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .svg-category {
    margin-top: 0;
    position: relative;
    width: 150px;
    height: 40px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px
  }
  
  #shape {
    stroke-width: 6px;
    fill: transparent;
    stroke: #E1140A;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -220;
    transition: 1s all ease;
  }
  
  #text {
    margin-top: -35px;
    text-align: center;
  }
  
  #text a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.3em;
  }
  
  
  .svg-category:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: #C4BEB6;
  }
  
  @font-face {
    font-family: 'gotham';
    src: url(./typography/Gotham-Bold.otf);
    font-weight: 700;
  }
  
  .card-text{
  color: #000000;
  /* font-family: 'gotham'; */
  font-weight: 200;
  }