.tamaño h5{
  font-family: 'gotham';
  text-align: center;
  font-weight: 100;

}
#lup-icon{
  cursor: pointer;
}
#saveSearch{
  cursor: pointer;
}
.tamaño{
  font-size: 30px;
}

.btn{
  background:#E2231A;
}
.slider {
  background: url(https://raw.githubusercontent.com/OshinVillegas/Lenovo/gh-pages/union/images/Blue-Dots.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.hidden{
  display: none;
}
.cuadro{
  width: 100%;
  height: 345px;
  overflow: auto;
}
#returnsecond{
  color: white;
  border-radius:50%; 
}
#returnsecond:hover{
  color:white;
  border: 2px solid white;
}
#returnspecifit{
  color: white;
  border-radius:50%; 
}
#returnspecifit:hover{
  color:white;
  border: 2px solid white;
}
#filtro{
  margin-left: 75%;
margin-bottom: 100%;
}
.logo{
  padding-top:-10% ;
}
#btn-search{
  cursor: pointer;
}
input {
  width: 100%;
  max-width: 1000px;
}
p{
  color: #E1140A;
  font-size: 1.3rem;
}
.slogan {
  color: #ffffff;
  font-family: 'gotham';
  font-size: 3.2rem;
  text-align: center
}
.searcher{
  text-align: center; 
  }
  
  .spot {
    font-size: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .svg-category {
    margin-top: 0;
    position: relative;
    width:100%;
    height: 40px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px
  }
  
  #shape {
    stroke-width: 6px;
    fill: transparent;
    stroke: #E1140A;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -220;
    transition: 1s all ease;
  }
  .icon{
    border: 3px solid #E1140A;
    border-radius:50%;
    color: white ;
  }
  .icon:hover{
    border: 3px solid white;
    background: white;
    border-radius:50%;
    color: #E1140A;
  }
  #text {
    margin-top: -55px;
    text-align: center;
  }
  
  #text a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 2em;
  }
  
  
  .svg-category:hover #shape {
    stroke-dasharray: 100 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: #C4BEB6;
  }
.logo img {
  width: 50px;
  top: 0;
  left: 0;
}
.form-control {
  border-radius: 10px;
}
@font-face {
  font-family: 'gotham';
  src: url(./typography/Gotham-Bold.otf);
  font-weight: 700;
}
#note{
  color:#E1140A;
}
.saludo{
  font-family: "gotham";
  color:white;
 font-size: 500%;
 text-align: center;
}
.firtsSee{
  display: block;
}
.see{
  display: none;
}
@media(max-width:700px){


  .firtsSee{
    display: none;
  }
  .see{
    display: block;
  }
}